* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  color: white;
  font-weight: 600;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: white;
  text-align: center;
}

.list {
  width: 400px;
  margin: 50px auto;
  background-color: #1e88e5;
  border-radius: 10px;
}

.header {
  height: 48px;
  padding: 10px;
  font-size: 32px;
  font-weight: 600;
  color: white;
}
.nav_input {
  width: 60%;
  height: 25px;
  margin: 30px 0px auto;
  border: none;
  border-radius: 5px;
}

.nav_button {
  width: 10%;
  height: 25px;
  border-radius: 5px;
  background-color: white;
  color: #1e88e5;
}

.nav_button:hover {
  background-color: #002171;
  color: #ffeb3b;
}

.items {
  height: 400px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.item_delete {
  background-color: transparent;
  color: white;
  font-size: 16px;
  transition: all 300ms ease-in;
}

.item_delete:hover {
  color: #002171;
  transform: scale(1.2);
}

.item_divider {
  width: 80%;
  height: 1px;
  background-color: white;
  margin: auto;
}

.item_delete_all {
  width: 30%;
  height: 26px;
  background-color: white;
  color: #1e88e5;
  font-weight: 600;
  margin: 20px;
  border-radius: 5px;
}

.item_delete_all:hover {
  background-color: #002171;
  color: #ffeb3b;
}
