<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52288138341-2ii0is7jcf8mrgbqlnp9nblsrdglde3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52288138341-2ii0is7jcf8mrgbqlnp9nblsrdglde3l</string>
	<key>API_KEY</key>
	<string>AIzaSyCqCvnKiXxb2aRRkX1be-wKMygALeUfJ8M</string>
	<key>GCM_SENDER_ID</key>
	<string>52288138341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.socialcoin</string>
	<key>PROJECT_ID</key>
	<string>social-coin-6f1d6</string>
	<key>STORAGE_BUCKET</key>
	<string>social-coin-6f1d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52288138341:ios:cf2b3359d4b22ba7866a8c</string>
</dict>
</plist>