* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #313131;
  font-family: sans-serif;
}
.box {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
  color: #313131;
}

.box span {
  font-size: 80px;
  height: 80px;
  display: block;
  line-height: 80px;
  text-align: center;
}
.box h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0;
}

.box p {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tbox {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  background-color: #313131;
}

.tbox a {
  float: right;
  width: 100px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 20px;
  background-color: #2980b9;
  border-radius: 40px;
  transition: 0.4s all;
}

.tbox input {
  border: none;
  margin: 0 14px;
  width: 372px;
  background: none;
  color: white;
  font-size: 18px;
  outline: none;
  padding: 10px 0;
}

.tbox a:hover {
  opacity: 0.8;
}
