* {
    font-family: 'Song Myung', serif;
}
.mylogin {
    color: white;
    width: 500px;
    height: 300px;
    background-image: url(https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg);
    text-align: center;
    border-radius: 20px;
    padding-top: 50px;
    background-position: center;
    background-size: cover;
}

.wrap {
    margin: 20px auto;
    width: 250px;
}